.footerParentDiv {
  width: 100vw;
  margin-top: 20px;
  background-color: #ebeeef;
}

.footerParentDiv .content {
  display: flex;
  justify-content: space-between;
  padding: 20px 10%;
  background: #ebeeef;
}

.footerParentDiv .content > div {
  flex: 1;
  margin: 0 20px;
}

.footerParentDiv .content .heading {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #002f34;
}

.footerParentDiv .content .list {
  list-style-type: none;
  padding: 0;
}

.footerParentDiv .content .list ul {
  padding: 0;
  margin: 0;
}

.footerParentDiv .content .list ul li {
  font-size: 14px;
  margin: 5px 0;
  color: #333;
  cursor: pointer;
}

.footerParentDiv .content .list ul li:hover {
  text-decoration: underline;
}

.footerParentDiv .footer {
  padding: 20px 10%;
  background: #002f34;
  color: whitesmoke;
  text-align: center;
}

.footerParentDiv .footer p {
  margin: 5px 0;
  font-size: 14px;
  color: #fff;
}

.footerParentDiv .footer p a {
  color: #fff;
  text-decoration: underline;
}

.footerParentDiv .footer p a:hover {
  text-decoration: none;
}
